.Login_box
{
    display:flex;
    position:absolute;
    justify-content: space-evenly;
    border-radius:20px;
    width:1300px;
    height:700px;
    align-items:center;
    left:200px;
    background-color: rgb(235, 235, 234);
    top:120px;
}
.Login_image_box img
{
  width:500px;
  height:500px;
}
.Login_content_box
{
    border-radius:10px;
    display: flex;
    width:700px;
    height:600px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.Login_content_box h1
{
    text-align: center;
}
.Login_content_box span{
    color:rgb(61, 61, 209);
    font-weight: bolder;
    font-size:30px;
}
.Login_content_box .Login_Third_Party img
{
    width:15px;
}
.Login_Third_Party
{
    text-align: center;
}
.Login_Third_Party button{
    margin-top:15px;
    padding:15px;
    cursor: pointer;
    font-size:17px;
    box-shadow: 3px 3px 5px gray;
    background-color: white;
    text-align: center;
    border-radius:10px;
    width:600px;
}
.Login_Third_Party button:hover{
    background-color:rgb(249, 245, 245);
}
.Login_filling_form input
{
    width:500px;
    font-size:15px;
    margin-top:20px;
    background-color: rgb(227, 226, 226);
    padding:15px;
    outline:none;
    padding-left:60px;
    border-radius:10px;
    border:1px solid gray;
}
.register-link button
{
    margin-top:25px;
    width:580px;
    font-size:20px;
    color:white;
    border:none;
    cursor:pointer;
    padding:17px;
    border-radius:10px;
    background-color: rgb(63, 63, 207);
}
.register-link button:hover{
    background-color: rgb(51, 51, 172);
}